.control {
    cursor: pointer;

    &:hover {
        .visibility {
            opacity: 1;
            transform: scale(1) translateX(0);
        }

        .text {
            text-decoration-line: underline;
        }
    }
}

.text {
    text-decoration-thickness: 1px;
    text-underline-offset: 0.25em;
    text-decoration-color: var(--neutral-border-strong);
}

.visibility {
    opacity: 0;
    transform: scale(0.875) translateX(-4px);
    transition: opacity 0.2s ease, transform 0.2s ease;
}